<h2>@ViewBag.Headline</h2>

<div>
    <b>Rand Value First: @ViewBag.Calc.RandValueFirst</b> <br>
    <b>Rand Value Second: @ViewBag.Calc.RandValueSecond</b> <br>
    <b>Add :</b> <br>
    @ViewBag.Calc.RandValueFirst + @ViewBag.Calc.RandValueSecond = @ViewBag.Calc.Add <br>
    <b>Sub :</b> <br>
    @ViewBag.Calc.RandValueFirst - @ViewBag.Calc.RandValueSecond = @ViewBag.Calc.Sub <br>
    <b>Mult :</b> <br>
    @ViewBag.Calc.RandValueFirst * @ViewBag.Calc.RandValueSecond = @ViewBag.Calc.Mult <br>
    <b>Div :</b> <br>
    @ViewBag.Calc.RandValueFirst/ @ViewBag.Calc.RandValueSecond = @ViewBag.Calc.Div <br>
</div>
<hr>  